@font-face {
    font-family: hollywood;
    src: url(../../static/fonts/hollywood.ttf);
    font-weight: normal;
}

body {
	margin:0px;
}

.splash-screen {
	top:0;
	background-image: url("../../static/images/nettisivut_ilman_valoja.png");
	background-size: cover;
    background-position: center;
	height: 200vh;


}

.splash-header{
	font-family: hollywood;
	margin-top: 10vh;
	font-size: 100px;
}

.splash-text {
	position: relative;
	margin-top: 10vh;
	font-size: 25px;
}


@keyframes ardown { 
	0%   {transform: translateY(0); }
	50%  {transform: translateY(15); }
	100% {transform: translateY(0); }
}

.arrow {
	position: relative;
	margin-top: 15vh;
	font-size: 50px;
  	color: inherit;
  	text-decoration: inherit;

}

.animated { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}